# Google Cloud
GCP_PROJECT_ID=your-google-cloud-project-id
GCP_CREDENTIALS_FILE=credentials/google_service_account.json

# Speech-to-Text
GCP_STT_LANGUAGE=en-US
GCP_STT_ALTERNATIVE_LANGUAGES=ko-KR
GCP_STT_CHUNK_SECONDS=50

# Translation
GCP_TRANSLATE_LOCATION=global
GCP_TRANSLATE_BATCH_SIZE=100
